:root {
    --bg-color: var(--background-neutral-strong-default);
}

.ik-theme--dark:root {
    --bg-color: rgb(from var(--background-neutral-strong-default) calc(r * 0.5) calc(g * 0.5) calc(b * 0.5));
}

.ik-theme--dark body {
    background-color: var(--bg-color);
}