.mdx-wrapper > h1 {
    font-size: var(--text-display-md);
    margin-top: var(--s-12);
    margin-bottom: var(--s-10);
}

.mdx-wrapper > h2 {
    font-size: var(--text-display-sm);
    margin-top: var(--s-12);
    margin-bottom: var(--s-9);
}

.mdx-wrapper > h3 {
    font-size: var(--text-xl);
    margin-top: var(--s-12);
    margin-bottom: var(--s-9);
}

.mdx-wrapper > h4 {
    font-size: var(--text-lg);
    margin-top: var(--s-9);
    margin-bottom: var(--s-9);
}

.mdx-wrapper > h5 {
    font-size: var(--text-md);
    margin-top: var(--s-12);
    margin-bottom: var(--s-9);
}

.mdx-wrapper > h6 {
    font-size: var(--text-sm);
    margin-top: var(--s-12);
    margin-bottom: var(--s-9);
}